@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    height: 100vh;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

main {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    border-radius: 10px;
    flex-flow: column nowrap;
    align-items: center;
    height: 620px;
    width: 400px;
    box-shadow: 5px 5px 10px black;
}

div > img {
    width: 100px;
    border-radius: 50%;
    margin: 40px 0 20px 0;
}

h1 {
    color: white;
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 25px;
}

article {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    padding-bottom: 20px;
    font-weight: 700;
}

p {
    color: white;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 10px;
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 12%);
    font-weight: 600;
    border-radius: 5px;
    width: 330px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.219);
}